.ButtonIcon{
	background: none;
	border: none;
	width:24px;
	height: 24px;
	background-image: url('./assets/icon-arrow-grey.svg');
	display: block;
	&:hover{
		background-image: url('./assets/icon-arrow-white.svg');
	}
}
