.MovieCard{
	background-color: red;
	color: var(--default-color);
	border-radius: var(--radius);
	overflow: hidden;
	position: relative;
	display: flex;
	cursor: pointer;

	width: 200px;

	&__Background{
		width: 100%;
    	height: 100%;
	}
}
